html, body {
    text-align: center;
    zoom: 1.25;
    -moz-transform: scale(1.25);
    -moz-transform-origin: 0 0;
}
.error {
    color: red;
    font-size: 20px;
}
.user {
    color: grey;
    font-size: 15px;
}
