<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
      <title>ATM</title>
      <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
   <h3>Account Details</h3>
   <div>
	    Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
	    <form th:action="@{/app-logout}" method="POST">
	         <input type="submit" value="Logout"/>
	    </form>
   </div> <br/>	 
    <table>
	      <tr th:each="account : ${accountInfo}">
			<td th:text="${account.checking}">Checking</td>
			<td th:text="${account.saving}">Saving</td>
	      </tr>
	</table>
	<div>Change Checking:</div>
	<input type="number"></input><button onClick="">Submit</button>
	<div>Change Saving:</div>
	<input type="number"></input><button onClick="">Submit</button>
</body>
</html>   