<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ATM</title>
    <link href="/css/styles.css" rel="stylesheet"/>
  </head>
  <body>
    <h3>Account Details</h3>
    <div>
      Logged in user: <b class="user" th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
      <form method="POST" th:action="@{/app-logout}">
        <input type="submit" value="Logout"/>
      </form>
    </div>
    <br/>
    <table>
      <tr th:each="info : ${accountInfo}">
        <td th:text="${info.checking}">Checking</td>
        <td th:text="${info.saving}">Saving</td>
      </tr>
    </table>
    <div>Change Checking:</div>
    <input type="number"></input>
    <button onClick="">Submit</button>
    <div>Change Saving:</div>
    <input type="number"></input>
    <button onClick="">Submit</button>
  </body>
</html>
